#parse("base.html")
#@mainLayout()
<h1>Order some yummy japanese food</h1>
<h2>Donburi</h2>
<select name="donburi">
    <option value="karaage">Karaage Don</option>
    <option value="spicy-karaage">Spicy Karaage Don</option>
    <option value="gyu">Gyu Don</option>
</select>
<h2>Okonomiyaki</h2>
<select name="okonomiyaki">
    <option value="calamar">Okonomiyaki Calamar</option>
    <option value="crevette">Okonomiyaki Crevette</option>
    <option value="porc">Okonomiyaki Porc</option>
</select>
<h2>Soba</h2>
<select name="soba">
    <option value="toji">Katsu Toji Soba</option>
    <option value="tanuki">Tanuki Soba</option>
    <option value="kitsune">Kitsune Soba</option>
    <option value="tsukimi">Tsukimi Soba</option>
    <option value="gomoku">Gomoku Soba</option>
    <option value="wakame">Wakame Soba</option>
</select>
<buttonn type="button">Order</buttonn>
#end
